# Dependency directories
node_modules/
backend/.venv/
backend/__pycache__/
backend/*.pyc

# Local env files
.env
.env.local
backend/.env

# Build outputs
frontend/dist/
dist/

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.venv/

# Databases
instance/
*.db
